<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">

<section layout:fragment="content"
         th:object="${cafe}">
    <div class="jumbotron" id="jumbo"
         th:styleappend="'background-image:url(' + @{http://d2dzfaqwlhqkso.cloudfront.net/cagong-ranking-project/img/cafe-list/{url}(url=*{imgUrl})} + ');'">
        <h2 class="dohyeon" style="margin-bottom: 50px; padding-left: 100px;" th:text="*{name}"></h2>
        <p class="lead"></p>
        <p></p>

    </div>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-6">
                <div style="margin-bottom: 50px">
                    <h4 class="dohyeon">Info.</h4>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span style="width: 100px; display: inline-block; margin-right: 20px"><b>Address.</b></span>
                            <span th:text="*{address}"></span>
                        </li>
                        <li class="list-group-item">
                            <span style="width: 100px; display: inline-block; margin-right: 20px"><b>Phone.</b></span>
                            <span th:text="*{phoneNumber}"></span>
                        </li>
                        <li class="list-group-item">
                            <span style="width: 100px; display: inline-block; margin-right: 20px"><b>Time.</b></span>
                            <span th:text="*{opertimeStart}"></span> ~
                            <span th:text="*{opertimeEnd}"></span>
                        </li>
                    </ul>
                </div>
                <div style="margin-bottom: 50px">
                    <h4 class="dohyeon">Menu</h4>
                    <ul class="list-group">
                        <li class="list-group-item" th:each="cafeMenu : *{cafeMenuList}">
                            <b><span style="width: 100px; display: inline-block; margin-right: 20px"
                                     th:text="${cafeMenu.name}"></span></b>
                            <span th:text="${cafeMenu.price}"></span>
                        </li>
                    </ul>
                </div>
                <div style="margin-bottom: 50px">
                    <h4 class="dohyeon">Score</h4>
                    <ul class="list-group" th:with="score = *{scoreSet}">
                        <li class="list-group-item">
                            <span style="width: 100px; display: inline-block; margin-right: 20px"><b>Mood</b></span>
                            <span th:text="${score.mood}"></span>
                        </li>
                        <li class="list-group-item">
                            <span style="width: 100px; display: inline-block; margin-right: 20px"><b>Light</b></span>
                            <span th:text="${score.light}"></span>
                        </li>
                        <li class="list-group-item">
                            <span style="width: 100px; display: inline-block; margin-right: 20px"><b>Price</b></span>
                            <span th:text="${score.price}"></span>
                        </li>
                        <li class="list-group-item">
                            <span style="width: 100px; display: inline-block; margin-right: 20px"><b>Taste</b></span>
                            <span th:text="${score.taste}"></span>
                        </li>
                    </ul>
                </div>
                <div class="text-right">
                    <!--            TODO: 사용자의 상태에 따라 수정하기/평가하기로 나눌 것-->
                    <a class="btn btn-outline-success" th:if="*{isWrite}"
                       th:href="@{/cafes/{cafeId}/update(cafeId=${cafe.id})}">수정하기</a>
                    <a class="btn btn-outline-primary" th:if="!*{isWrite}"
                       th:href="@{/cafes/{cafeId}/write(cafeId=${cafe.id})}">평가하기</a>
                </div>

                <iframe th:attr="src=@{/cafes/{cafeId}/comment_list(cafeId=${cafe.id})}"
                        width="100%" height="500px" frameborder="0"></iframe>
            </div>
            <div class="col"></div>
        </div>
    </div>
</section>

</html>