#README.md
.gradle
build/
/cagong-user-api/src/main/resources/static/img/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**
**/src/main/resources/static/img/
**/src/main/resources/aws.yml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

cagong-admin-api/src/main/resources/static/
cagong-admin-api/src/main/resources/templates/
cagong-admin-api/src/test/resources/
cagong-common/src/test/resources/
cagong-user-api/src/test/resources/
