<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">

<section layout:fragment="content">
    <!-- breadcrumb start -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home">Main</a></li>
            <li class="breadcrumb-item active" aria-current="page">매장 평가</li>
        </ol>
    </nav>
    <!-- breadcrumb end-->

    <!-- main start -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3><span th:text="${review.cafeName}"></span> 리뷰</h3>
                <br>
                <form name="f" method="post" th:action="@{/cafes/{cafeId}/reviews(cafeId=${cafeId})}">
                    <div class="form-group row">
                        <label for="reviewer" class="col-sm-2 col-form-label">평가자</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="reviewer"
                                   name="reviewer" readonly="readonly" th:value="${review.userName}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="shop" class="col-sm-2 col-form-label">평가매장</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="shop" name="shop"
                                   readonly="readonly" th:value="${review.cafeName}">
                        </div>
                    </div>
                    <br>

                    <h4>분위기</h4>
                    <div class="star-box">
                        <span class="mood" th:each="num : ${#numbers.sequence(1, 10)}">
                            <span class="star star-mood" th:classappend="${num} % 2 == 1?
                            (${num} <= ${review.mood} * 2? 'star_left on': star_left):
                            (${num} <= ${review.mood} * 2? 'star_right on': star_right)"></span>
                            <span> </span>
                        </span>
                    </div>
                    <h4>조명</h4>
                    <div class="star-box">
                        <span class="light" th:each="num : ${#numbers.sequence(1, 10)}">
                            <span class="star star-light" th:classappend="${num} % 2 == 1?
                            (${num} <= ${review.light} * 2? 'star_left on': star_left):
                            (${num} <= ${review.light} * 2? 'star_right on': star_right)"></span>
                            <span> </span>
                        </span>
                    </div>
                    <h4>가격</h4>
                    <div class="star-box">
                        <span class="price" th:each="num : ${#numbers.sequence(1, 10)}">
                            <span class="star star-price" th:classappend="${num} % 2 == 1?
                            (${num} <= ${review.price} * 2? 'star_left on': star_left):
                            (${num} <= ${review.price} * 2? 'star_right on': star_right)"></span>
                            <span> </span>
                        </span>
                    </div>
                    <h4>맛</h4>
                    <div class="star-box">
                        <span class="taste" th:each="num : ${#numbers.sequence(1, 10)}">
                            <span class="star star-taste" th:classappend="${num} % 2 == 1?
                            (${num} <= ${review.taste} * 2? 'star_left on': star_left):
                            (${num} <= ${review.taste} * 2? 'star_right on': star_right)"></span>
                            <span> </span>
                        </span>
                    </div>

                    <br>

                    <div>
                        <label>추천 시간대</label>
                        <div class='form-group row'>
                            <div class="col-5">
                                <fieldset>
                                    <select class='form-control' name="valueA" id="valueA">
                                        <option value="6am">오전 6 : 00</option>
                                        <option value="7am">오전 7 : 00</option>
                                        <option value="8am">오전 8 : 00</option>
                                        <option value="9am" selected="selected">오전 9 : 00</option>
                                        <option value="10am">오전 10 : 00</option>
                                        <option value="11am">오전 11 : 00</option>
                                        <option value="12pm">오후 12 : 00</option>
                                        <option value="1pm">오후 01 : 00</option>
                                        <option value="2pm">오후 02 : 00</option>
                                        <option value="3pm">오후 03 : 00</option>
                                        <option value="4pm">오후 04 : 00</option>
                                        <option value="5pm">오후 05 : 00</option>
                                        <option value="6pm">오후 06 : 00</option>
                                        <option value="7pm">오후 07 : 00</option>
                                        <option value="8pm">오후 08 : 00</option>
                                        <option value="9pm">오후 09 : 00</option>
                                        <option value="10pm">오후 10 : 00</option>
                                        <option value="11pm">오후 11 : 00</option>
                                        <option value="12am">오전 00 : 00</option>
                                    </select>
                                </fieldset>
                            </div>
                            <div class="col">
                                <label for="valueA">부터</label>
                            </div>
                            <div class="col-5">
                                <fieldset>
                                    <select class='form-control' name="valueB" id="valueB">
                                        <option value="6am">오전 6 : 00</option>
                                        <option value="7am">오전 7 : 00</option>
                                        <option value="8am">오전 8 : 00</option>
                                        <option value="9am">오전 9 : 00</option>
                                        <option value="10am">오전 10 : 00</option>
                                        <option value="11am">오전 11 : 00</option>
                                        <option value="12pm">오후 12 : 00</option>
                                        <option value="1pm">오후 01 : 00</option>
                                        <option value="2pm">오후 02 : 00</option>
                                        <option value="3pm">오후 03 : 00</option>
                                        <option value="4pm">오후 04 : 00</option>
                                        <option value="5pm">오후 05 : 00</option>
                                        <option value="6pm">오후 06 : 00</option>
                                        <option value="7pm">오후 07 : 00</option>
                                        <option value="8pm">오후 08 : 00</option>
                                        <option value="9pm" selected="selected">오후 09 : 00</option>
                                        <option value="10pm">오후 10 : 00</option>
                                        <option value="11pm">오후 11 : 00</option>
                                        <option value="12am">오전 00 : 00</option>
                                    </select>
                                </fieldset>
                            </div>
                            <div class="col">
                                <label for="valueB">까지</label>
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="form-group">
                        <label for="comment">한줄 평가</label>
                        <textarea class="form-control" id="comment" name="comment" rows="3" th:text="${review.comment}"></textarea>
                    </div>
                    <input type="hidden" name="mood" id="moodRate" th:value="${review.mood} * 2 - 1"/>
                    <input type="hidden" name="light" id="lightRate" th:value="${review.mood} * 2 - 1"/>
                    <input type="hidden" name="price" id="priceRate" th:value="${review.mood} * 2 - 1"/>
                    <input type="hidden" name="taste" id="tasteRate" th:value="${review.mood} * 2 - 1"/>
                </form>
                <br>
                <div class='text-right'>
                    <button type="button"
                            class="btn btn-secondary btn-md" id="cancel">취소
                    </button>
                    <button type="button" id='saveCafe' class="btn btn-primary btn-md" th:value="${cafeId}">등록</button>
                </div>


            </div>
        </div>
    </div>
    <!-- main end -->

<script src="/js/app/write.js"></script>

</section>

</html>