<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<header th:fragment="header-frag">
    <!-- navbar start-->
    <nav class="navbar navbar-expand-lg navbar-dark" id="top-navbar">
        <a class="navbar-brand text-bold dohyeon" href="/home">카공도르</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#">신청게시판</a>
                </li>

            </ul>
            <ul class="navbar-nav justify-content-end">
                <li class="nav-item" th:if="${session.member == null}">
                    <a class="nav-link" href="/regst">회원가입</a>
                </li>
                <li class="nav-item" th:if="${session.member == null}">
                    <a class="nav-link" href="/login">로그인</a>
                </li>

                <li class="nav-item" th:if="${session.member != null}">
                    <a class="nav-link text-bold" th:text="${session.member.account}" href="#"></a>
                </li>
                <li class="nav-item" th:if="${session.member != null}">
                    <span class="navbar-text">님 환영합니다.</span>
                </li>
                <li class="nav-item" th:if="${session.member != null}">
                    <a class="nav-link" href="/logout">로그아웃</a>
                </li>

                <form class="form-inline my-2 my-lg-0" id="search-bar" method="get" action="/cafes/search">
                    <input class="form-control mr-sm-2" type="text"
                           placeholder="카페명을 입력해주세요" id="search" name="phrase"
                           aria-label="Search" value="">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">카페찾기</button>
                </form>
            </ul>
        </div>
    </nav>
    <!-- navbar end-->
</header>