<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery-3.5.0.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/sweetalert2.all.min.js"></script>
</head>
<body>
<script>
    Swal.fire({
        title: 'Warning!',
        text: '회원만이 이용하실 수 있는 서비스입니다. 로그인 페이지로 이동합니다.',
        icon: 'warning',
        confirmButtonText: 'OK',
        onAfterClose: () => {
            window.location.href = '/login';
        }
    });
</script>
</body>
</html>